.container-fluid-1{
  background-color: lightgrey;
}
.container-fluid-2{
  background-color: lightgrey;
}
.container-fluid-3{
  background-color: lightgrey;
}
.container-fluid-4{
  background-color: lightgrey;
}
.Button{
  background-color: lightgrey
}
.container-fluid-5{
  background-color: lightgrey
}
.title{
  background-color: lightgrey
}
.carousel-inner{
  width:700px;
  height:700px;
}
<<<<<<< HEAD
.navbar{
data-bs-spy="scroll"
}
=======
>>>>>>> a5a949ed614751ddba656d9b6519be5af8d1c168
